@{
    ViewBag.Title = "About MPT Games";
}
<h2>@ViewBag.Title.</h2>
<h2>Members of the Development team</h2>
<h3>Maria</h3>
<h3>Tom</h3>
<h3>Peter</h3>
<h3>@ViewBag.Message</h3>

<p>Come Back Soon!</p>
