@{
    ViewBag.Title = "MPT Games";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address style="margin-top: 5px">
    150 Idle Hour Blvd<br />
    Oakdale, NY 11769<br />
    <span title="Phone">P : </span>
    631.555.0100<br />
    <span title="Fax">F : </span>
    631.555.0101
</address>

<address>
    <strong>Technical Support:</strong>   <a href="mailto:techSupport@mptgames.com">TechSupport@mptgames.com</a><br />
    <strong>Webmaster:</strong> <a href="mailto:webmaster@mptgames.com">Webmaster@mptgames.com</a>
</address>